.top-section {
    padding: 0 6em;
    height: 100vh;
    background: var(--c4);
    color: var(--c2);
    display: flex;
    align-items: center;
    flex-direction: row;
}
h1.name {
    font-size: 40pt;
    font-weight: 800;
    margin-bottom: 1rem;
}
.role {font-style: italic;font-size: 15pt;}
.action-button-container {margin-top: 4em;}

a.action-button {
    padding: 1em 2.5em;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 30px;
}

.top-section a.action-button {
    transition: .1s ease-in-out;
    color: var(--c2);
}

.top-section a.action-button:hover {
    background: #aaa;
    color: var(--c4);
}
.profile-desc {
    height:90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2em 10em;
    column-gap: 8em;
}

.profile {
    width: 60%;
    font-size: 16pt;
}

.profile-desc h2 {
    margin: 0;
    font-size: 27pt;
}
